 header{
    display:flex ;
    justify-content:space-between ;
    align-items: center;
    background-color: #0077ff;
    color: white;
    padding: 20px;
    border-radius: 10px;
 }


 header h1{
    font-size: 24px;
 }

header button{
    background: #fff;
    color: #0077ff;
    font-weight: bold;
}

header button:hover{
    background: #ddd;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover{
    text-decoration: underline;
}



body {
    background: #f5f5f5;
    color: #222;
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}






body{
 background: #f5f5f5;
 color:#222;
line-height: 1.6;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

main{
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
}

section{
    background: #fff;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

 


}






section h2{
    margin-bottom: 15px;
    font-size: 22px;
}


button{
    padding: 8px 16px;
    margin: 5px;
    border: none;
    background: #0077ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s ease;
}

button:hover{
    background: #005acc;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}


#count{
    font-size: 20px;
    width: 40px;
    text-align: center;
    font-weight: bold;
}

#slideshowContainer{
    width: 100%;
    max-width: 300px;
   overflow: hidden;
    border-radius: 10px;
}

#slideshow{
    width: 100%;
    display: block;
    border-radius: 10px;
}


form{
    display: flex;
    flex-direction: column;
    gap: 12px
}

label{
    font-size: 15px;
}


input,textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}



textarea{
    min-height: 100px;
    resize: vertical;
}




.page {
    display: none;
}

.page.active {
    display: block;
}

footer{
    margin-top: 40px;
    padding: 20px;
    background: #111;
    color: #eee;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #333;
}

footer a{
    color: #4da3ff;
    
}

footer a:hover{
    text-decoration: underline;
}








